.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 30rem;
  height: 100%;
  background-color: white;
  box-shadow: 2px 2px 50px rgb(200, 200, 200);
  overflow: scroll;
  transform: translateX(-100%);
  -moz-transform: translateX(-100%); /* Firefox 4 */
  -webkit-transform: translateX(-100%); /* Safari and Chrome */
  -o-transform: translateX(-100%); /* Opera */
  -ms-transform: translateX(-100%); /* Explorer 10 */
  transition: all 0.5s ease;
  opacity: 0;
  h2 {
    padding: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;

  transition: background 0.3s ease;
  -moz-transition: background 0.3s ease; /* Firefox 4 */
  -webkit-transition: background 0.3s ease; /* Safari and Chrome */
  -o-transition: background 0.3s ease; /* Opera */
  -ms-transition: background 0.3s ease; /* Explorer 10 */

  img {
    width: 30%;
  }
  &:hover {
    background: #97c2fc;
  }
}

.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5);
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background: rgb(156, 175, 240);
}

.active-library {
  transform: translateX(0%);

  -moz-transform: translateX(0%); /* Firefox 4 */
  -webkit-transform: translateX(0%); /* Safari and Chrome */
  -o-transform: translateX(0%); /* Opera */
  -ms-transform: translateX(0%); /* Explorer 10 */

  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
